
#login{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    text-align: center;
    width: 100%;
    height: fit-content;
   
}
#signup{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    text-align: center;
    width: 100%;
    height: fit-content;
   
}

form{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-light);
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    

    input{
        padding: 5px;
        height: 30px;
        text-decoration: none;
        border: 1px;
        border-color: var(--primary-color);
        border-radius: 2px;
        margin: 1rem;
        box-shadow: 5px 5px 10px black;
    }
    
}
button{
    padding: 5px;
    height: 30px;
    text-decoration: none;
    border: 1px;
    border-color: var(--primary-dark);
    border-radius: 2px;
    margin: 1rem;
    box-shadow: 5px 5px 10px black;
}