@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  --primary-color: white;
  --primary-dark: #7B7B7B;
  --primary-light: #D4D4D4;
  --background: white;
  --text-primary: #370B0B;
  --text-secondary: white;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: ease-in-out;
  transition-duration: 10ms;
}
