*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;

  --primary-color: #46C93F;
  --primary-dark: #27A700;
  --primary-light: #C8F2B2;
  --background: white;
  --text-primary: #370B0B;
  --text-secondary: white;
}
